<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LocLease" parallel="classes" thread-count="2">
 <test name="US 138906">
       <groups>
     <run>
 <include name="Cars" />
     </run>
 </groups>
		<parameter name="author" value="Poonam Pandey" />
		<parameter name="reciever" value="Gautam galotia" />
		<classes>
			<class name="main.NewUserStories.GroupExample" />
			
		</classes>
	</test> 
	
</suite> <!-- Suite -->
